@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
}

/* Remove as setinhas no Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setinhas no Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* VARIÁVEIS E ESTILOS */
:root {
  /*CONTEUDO*/
  --content-primary: #ffffff;
  --content-seconday: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030303;
  /*BACKGROUND*/
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /*ACCENT*/
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0aa;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  /*GRADIENT*/
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%, #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;
}

/* RESET DA PAGE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY DA PAGE*/
body {
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/Shapes.png');
  background-color: var(--background-primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--content-primary);
}

/* CONTAINER PAI */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* LOGO DO PROJETO */
.box-logo {
  display: flex;
  align-items: center;
  justify-content: initial;
  gap: 11px;
  width: 1098px;
  height: 38px;
  padding-bottom: 86px;
}

.box-logo img {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: start;
}

.box-logo h1 {
  font-family: 'Sora', sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: bold;
  max-width: 123px;
  min-height: 31px;
  letter-spacing: -4%;
}

/* LAYOUT PRINCIPAL */
.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1098px;
  height: 412px;
  gap: 108px;
}

/* PRIMEIRO SEÇÃO */
#info {
  display: flex;
  flex-direction: column;
  width: 509px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 14px;
  gap: 38px;
}

.box-one {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 224px;
  gap: 12px;
}

.box-one h1 {
  font-family: 'Sora', sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}

.box-one-free span {
}

.box-two {
  display: flex;
  width: 386px;
  min-height: 150px;
  flex-direction: column;
  gap: 36px;
}

.case {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.box-two img {
  width: 20px;
  height: 20px;
}

.purple {
  color: var(--content-brand);
  font-size: 14px;
  font-family: 'Roboto Flex', sans-serif;
  line-height: 150%;
  font-weight: medium;
}

.box-two span {
  color: var(--content-seconday);
  font-size: 12px;
  line-height: 150%;
  font-family: 'Roboto Flex';
}

.case-one {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

/* SEGUNDA SEÇÃO */
#numbers {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 344px;
  gap: 40px;
}

.info-2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 80px;
}

.info-2 h2 {
  font-family: 'Roboto Flex', sans-serif;
  color: var(--content-primary);
  font-size: 20px;
  line-height: 150%;
}

.info-2 p {
  font-size: 16px;
  color: var(--content-seconday);
  line-height: 150%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.box-input {
  display: flex;
  gap: 12px;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-input input {
  display: flex;
  flex-direction: column;
  width: 86px;
  height: 88px;
  background-color: var(--background-secondary);
  border: none;
  border-radius: 4px;
  color: var(--content-primary);
  outline: none;
  text-align: center;
  padding: 0;
  display: block;
  font-family: 'Sora', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 88px;
}

.box-input label {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: bold;
}

/* BOTA DO CHECKBOX */
.lucky {
  display: flex;
  align-items: center;
  gap: 8px;
}
.switch input {
  display: none;
}

/* O corpo da chavinha (Fundo) */
.slider {
  display: block;
  width: 30px;
  height: 20px;
  background-color: var(--background-gray);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: 0.3s; /* Faz o deslize ser suave */
}

/* A bolinha branca */
.slider::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.3s;
}

/* QUANDO CLICAR (Mágica aqui) */
input:checked + .slider {
  background: linear-gradient(90deg, var(--gradient-background));
}

/* Se o input estiver checado, mova a bolinha (::before) do slider para a direita */
input:checked + .slider::before {
  transform: translateX(10px);
}

.lucky label {
  font-size: 12px;
  font-family: 'Roboto Flex', sans-serif;
  line-height: 150%;
  color: var(--content-primary);
  font-weight: 400;
}

/* BOTÃO PARA SORTEAR*/
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 56px;
  background-color: var(--background-tertiary);
  border: none;
  border-radius: 8px;
  color: var(--content-primary);
  font-size: 20px;
  line-height: 150%;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  #page {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
  }

  .page {
    display: flex;
    flex-direction: column;
    max-width: 319px;
    align-items: flex-start;
  }

  .box-one h1 {
    font-size: 40px;
  }
}
