@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap");

:root {
  font-family: "Roboto Mono", monospace;
}

/* Variávies de estilos */
:root {
  /*CONTEUDO*/
  --content-primary: #ffffff;
  --content-seconday: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030303;
  /*BACKGROUND*/
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /*ACCENT*/
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-pink: #77c0aa;
  --accent-pink: #d1dc97;
  --accent-pink: #e9a9b3;
  /*GRANDIENTE*/
  --grandient-border:
    #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%, #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradiente-content: #c7c9cc 0%, #3d3d3d 100%;
}

/* Reset da page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  width: 100%;
  background-image: url(./assets/Shapes.png);
  color: var(--content-primary);
}

.page {
  max-width: 1098px;
  height: 412px;
  margin: 0 auto;
  padding: 20px;
}
