@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
}

/* Remove as setinhas no Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setinhas no Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* VARIÁVEIS E ESTILOS */
:root {
  /*CONTEUDO*/
  --content-primary: #ffffff;
  --content-seconday: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030303;
  /*BACKGROUND*/
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /*ACCENT*/
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0aa;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  /*GRADIENT*/
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%, #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;
}

/* RESET DA PAGE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY DA PAGE*/
body {
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/Shapes.png');
  background-color: var(--background-primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--content-primary);
}

/* CONTAINER PAI */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* LOGO DO PROJETO */
.box-logo {
  display: flex;
  align-items: center;
  justify-content: initial;
  gap: 11px;
  width: 1098px;
  height: 38px;
  padding-bottom: 86px;
}

.box-logo img {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: start;
}

.box-logo h1 {
  font-family: 'Sora', sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: bold;
  max-width: 123px;
  min-height: 31px;
  letter-spacing: -4%;
}

/* LAYOUT PRINCIPAL */
.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1098px;
  height: 412px;
  gap: 108px;
}

/* PRIMEIRO SEÇÃO */
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 509px;
  margin-left: 14px;
  gap: 38px;
}

.box-one {
  grid-column: 1fr;
  width: 100%;
  min-height: 224px;
  gap: 12px;
}

.box-one h1 {
  font-family: 'Sora', sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}

.box-two {
  grid-column: 1fr;
  width: 386px;
  min-height: 150px;
  flex-direction: column;
  gap: 36px;
}

.box-two img {
  width: 20px;
  height: 20px;
}

.box-two span {
  color: var(--content-seconday);
  font-size: 12px;
  line-height: 150%;
  font-family: 'Roboto Flex';
}

.case {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.case-one {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.purple {
  color: var(--content-brand);
  font-size: 14px;
  font-family: 'Roboto Flex', sans-serif;
  line-height: 150%;
  font-weight: medium;
}

/* SEGUNDA SEÇÃO */
#numbers {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 34px 0px 34px 0px;
}

.info-2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 80px;
}

.info-2 h2 {
  font-family: 'Roboto Flex', sans-serif;
  color: var(--content-primary);
  font-size: 20px;
  line-height: 150%;
}

.info-2 p {
  font-size: 16px;
  color: var(--content-seconday);
  line-height: 150%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.box-input {
  display: flex;
  gap: 12px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.box-input input {
  width: 86px;
  height: 88px;
  border: none;
  background-color: var(--background-secondary);
  border-radius: 4px;
  color: var(--content-primary);
  outline: none;
  text-align: center;
  padding: 0;
  display: block;
  font-family: 'Sora', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 88px;
}

.input-group:hover {
  color: var(--content-brand);
}

.input-group input:hover {
  cursor: pointer;
  border: 1px solid transparent;
  background:
    linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
    linear-gradient(
        180deg,
        #77c0af 0%,
        #d1dc97 14.84%,
        #e9a9b3 32.15%,
        #d586e0 65.79%,
        #91a1fa 84.58%
      )
      border-box;
}

.box-input label {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: bold;
}

/* BOTA DO CHECKBOX */
.lucky {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch input {
  position: relative;
  display: none;
  z-index: -1;
}

/* CORPO DO CHECKBOX ATRÁS */
.slider {
  position: absolute;
  display: block;
  width: 30px;
  height: 20px;
  background-color: var(--background-gray);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

/* A bolinha branca */
.slider::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.3s;
}

/* QUANDO CLICAR (Mágica aqui) */
input:checked + .switch {
  background: linear-gradient(90deg, var(--gradient-background));
}

/* Se o input estiver checado, mova a bolinha (::before) do slider para a direita */
input:checked + .slider::before {
  transform: translateX(10px);
}

.lucky label {
  font-size: 12px;
  font-family: 'Roboto Flex', sans-serif;
  line-height: 150%;
  color: var(--content-primary);
  font-weight: 400;
}

.hidden {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}

#result {
  display: none;
}

.number-display {
  width: 121px;
  height: 100px;
  background-color: var(--content-brand);
  border-radius: 18px;
}

.final-number {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #020202;
}

/* BOTÃO PARA SORTEAR*/
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 56px;
  background-color: var(--background-tertiary);
  border: none;
  border-radius: 8px;
  color: var(--content-primary);
  font-size: 20px;
  line-height: 150%;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  border: 2px solid transparent;
  background:
    linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
    linear-gradient(
        180deg,
        #77c0af 0%,
        #d1dc97 14.84%,
        #e9a9b3 32.15%,
        #d586e0 65.79%,
        #91a1fa 84.58%
      )
      border-box;
}

@media (max-width: 1024px) {
  .page {
    max-width: 900px;
  }
  .box-logo {
    max-width: 900px;
  }

  .box-one h1 {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }
  .page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: initial;
    height: 100%;
    gap: 0px;
  }

  .box-logo {
    max-width: 172px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
  }

  .info {
    display: contents;
    max-width: 319px;
    height: 168px;
  }

  .box-one {
    display: flex;
    flex-direction: column;
    max-width: 319px;
    min-height: 136px;
    justify-content: initial;
    align-items: initial;
    margin: 0 auto;
    order: 1;
    margin-top: 46px;
  }

  .box-one h1 {
    font-size: 40px;
  }

  .box-two {
    display: grid;
    order: 3;
    margin: 0 auto;
    max-width: 319px;
    min-height: 168px;
    row-gap: 36px;
    margin-top: 80px;
    margin-bottom: 91px;
  }

  #numbers {
    display: flex;
    justify-content: initial;
    flex-direction: column;
    align-items: initial;
    max-width: 319px;
    min-height: 294px;
    margin: 0 auto;
    height: auto;
    order: 2;
    padding: 0px;
    margin-top: 42px;
  }
}
