@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
}

/* Variávies de estilos */
:root {
  /*CONTEUDO*/
  --content-primary: #ffffff;
  --content-seconday: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030303;
  /*BACKGROUND*/
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /*ACCENT*/
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-pink: #77c0aa;
  --accent-pink: #d1dc97;
  --accent-pink: #e9a9b3;
  /*GRANDIENTE*/
  --grandient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%, #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradiente-content: #c7c9cc 0%, #3d3d3d 100%;
}

/* Reset da page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/Shapes.png');
  background-color: var(--background-primary);
  color: var(--content-primary);
}

.container {
  display: flex;
  justify-content: center;
  align-items: initial;
  max-width: 1098px;
  height: 412px;
  flex-direction: column;
  margin: 120px auto;
}

.box-logo {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 172px;
  height: 38px;
  padding-bottom: 86px;
}

.box-logo img {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: start;
}

.box-logo h1 {
  font-family: 'Sora', sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: bold;
  width: 123px;
  height: 31px;
}

.page {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 108px;
}

#info {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: auto;
  margin-left: 14px;
  gap: 38px;
}

.box-one {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box-one h1 {
  font-family: 'Sora', sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}

.box-two {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.case {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.case-one {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
